@font-face {
  font-family: LuckiestGuy;
  src: url(/public/fonts/LuckiestGuy-Regular.ttf);
}

body {
  --color-page-background: black;
}

/* theme-config.css */
.radix-themes {
  --color-page-background: black;
  --default-font-size: 1rem;
  --default-font-family: Segoe UI;
  --orange-2: #ff7a00;
  --orange-1: #ff5e00;
}
