.card {
  background: var(--gray-12);
  border: 0.1rem solid #3f3f3f;
}

.cardTitle {
  color: var(--gray-3);
}

.cardSubtitle {
  color: var(--gray-9);
}

.cardDescription {
  color: var(--gray-3);
}
