.card {
  background: var(--gray-12);
  border: 0.1rem solid var(--gray-6);
}

.cardTitle {
  color: var(--gray-3);
}

.cardSubtitle {
  color: var(--gray-8);
}

.cardDescription {
  color: var(--gray-3);
}
