.badge {
  display: flex;
  justify-content: center;
  border: 2px solid;
  border-color: var(--orange-11);
  color: var(--gray-5);
  background: var(--gray-10);
  min-width: 4rem;
  max-height: 2rem;
  padding-inline: 1rem;
}

.badge:last-child .badgeText {
  font-size: small;
  text-transform: uppercase;
  text-shadow:
    3px 0px 7px var(--orange-10),
    -3px 0px 7px var(--orange-11),
    0px 1px 2px var(--gray-12);
}

.badgeText {
  font-size: small;
  text-transform: uppercase;
}
