button,
fieldset,
input {
  all: unset;
}

.overlay {
  inset: 0;
  position: fixed;
  background-color: var(--black-a10);
  backdrop-filter: blur(4px) invert(10%) saturate(110%);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  min-height: 40rem;
  max-width: 30rem;
  max-height: 85vh;
  padding: 2rem;
  border-radius: var(--radius-2);
  border: 2px solid var(--gray-11);
  background-color: var(--gray-12);
  box-shadow: hsla(0, 0%, 3%, 0.71) 0px 20px 20px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  transform: translate(-50%, -50%);
}

.content:focus {
  outline: none;
}

.title {
  margin: 0;
  color: var(--gray-3);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--default-font-family);
}

.description {
  color: var(--gray-8);
  font-size: var(--default-font-size);
}

.fieldSet {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 2rem;
  color: var(--gray-8);
  font-weight: 600;
  font-size: var(--default-font-size);
  text-align: left;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.9) rotate(10deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0);
  }
}
